<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   <bean id = "helloWorld" class = "com.tutorialspoint.HelloWorld" init-method = "init" 
	   destroy-method="destroy">
	   <property name="message1" value="Hello World!" />
	   <property name="message2" value="Hello second world!"/>
   </bean>
   
   <bean id="cStartEventHandler" class = "com.tutorialspoint.CStartEventHandler" />
   <bean id="cStopEventHandler" class="com.tutorialspoint.CStopEventHandler" />
   
   <!--  bean id="helloIndia" class="com.tutorialspoint.HelloIndia" parent ="helloWorld">
   	<property name="message1" value="Hello India!"/>
   	<property name="message3" value="Namaste India"/>
   </bean-->
   
   <bean id = "textEditor" class="com.tutorialspoint.TextEditor">
   	<property name="spellChecker">
   		<bean id="spellChecker" class = "com.tutorialspoint.SpellChecker"/>
   	</property>
   </bean>
   
   <!--<bean id ="javaCollection" class="com.tutorialspoint.JavaCollection" >
   	<property name="addressList">
   		<list>
   			<value>INDIA</value>
   			<value>USA</value>
   			<value>IRAN</value>
   		</list>
   	</property>
   	
   	<property name="addressSet">
   		<set>
   			<value>INDIA</value>
   			<value>IRAN</value>
   		</set>
   	</property>
   	
   	<property name="addressMap">
   		<map>
   			<entry key = "1" value="INDIA"/>
   			<entry key = "2" value="IRAN"/>
   		</map>
   	</property>
   	
   	<property name="addressProp">
   		<props>
   			<prop key="one">INDIA</prop>
   			<prop key="one">INDIA</prop>
   			<prop key = "two">Pakistan</prop>
   		</props>
   	</property>
   	
   </bean-->
   
   <bean class = "com.tutorialspoint.InitHelloWorld" />
</beans>
